@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6 p {
  font-size: inherit; }

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit; }

input:focus,
button:focus {
  outline: none; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: 'Poppins', sans-serif; }

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }

.logo {
  display: flex;
  align-items: center; }
  .logo img {
    margin-right: 15px; }
  .logo span {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #323232; }

.nav__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 33px; }

.navigation .nav__list {
  display: flex;
  align-items: center;
  gap: 42px; }
  .navigation .nav__list a {
    font-size: 16px;
    line-height: 24px;
    color: #323232;
    transition: 0.3s ease-in-out; }
    .navigation .nav__list a.active {
      font-weight: bold;
      color: #f78434; }
    .navigation .nav__list a:hover {
      color: #f78434; }

.header__row {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%; }

.header__text {
  width: 50%;
  z-index: 1;
  gap: 20px; }
  .header__text p {
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 1.15px;
    color: #323232;
    margin-bottom: 42px;
    max-width: 459px; }

.header__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.46;
  letter-spacing: 0.8px;
  color: #323232;
  margin-right: -160px;
  margin-bottom: 25px; }

.header__input {
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  max-width: 459px;
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .header__input img {
    margin-right: 20px;
    margin-left: 28px; }
  .header__input input {
    width: 100%;
    margin-right: 10px; }
  .header__input.active {
    box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.12); }

.header__input-input:focus-visible + .header__input {
  box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.12); }

.header__button {
  width: 157px;
  min-width: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f78434;
  height: 100%;
  border-radius: 29px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer; }

.header__img {
  width: 50%;
  height: 100%; }
  .header__img img {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.brands {
  padding: 100px 0px; }

.brnads__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; }

.objects {
  margin-bottom: 372px; }

.objects__inner {
  display: flex;
  align-items: center; }

.objects__images {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: -20px; }

.objects__images-item {
  min-width: 385px;
  height: 550px;
  margin-right: 20px;
  position: relative; }
  .objects__images-item > img {
    width: 100%;
    height: 100%;
    height: 550px;
    object-fit: cover; }

.objects__card {
  position: absolute;
  bottom: 87px;
  right: -50px;
  background: #ffffff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  display: flex;
  align-items: center;
  min-width: 300px;
  width: 300px;
  padding: 32px 29px; }
  .objects__card h4 {
    font-size: 16px;
    font-weight: 700;
    color: #323232; }

.objects__card-icon {
  background: rgba(88, 190, 191, 0.2);
  height: 45px;
  min-height: 45px;
  width: 45px;
  min-width: 45px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px; }

.objects__content {
  padding-left: 132px;
  padding-right: 15px;
  max-width: 570px;
  width: 50%; }
  .objects__content h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.48;
    letter-spacing: 0.8px;
    color: #323232;
    margin-bottom: 20px; }
  .objects__content p {
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 1.15px;
    color: #323232;
    margin-bottom: 20px; }
  .objects__content button {
    width: 172px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #f78434;
    border-radius: 50px;
    margin-top: 40px; }

.inner__card {
  margin-top: -232px;
  height: 464px;
  background-color: #58bebf;
  border-radius: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  gap: 20px; }
  .inner__card .oval {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1; }
  .inner__card .oval-two {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  .inner__card > div {
    width: 50%;
    z-index: 2; }
  .inner__card .content {
    padding: 20px;
    padding-left: 50px;
    max-width: 400px; }
  .inner__card h2 {
    font-size: 42px;
    line-height: 1.48;
    letter-spacing: 0.8px;
    color: #ffffff;
    margin-bottom: 15px; }
  .inner__card p {
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 1.15px;
    color: #ffffff; }

.green__card-buttons {
  display: flex;
  align-items: center;
  margin-top: 30px; }
  .green__card-buttons a {
    height: 58px;
    width: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px; }
    .green__card-buttons a:nth-child(1) {
      background-color: #f78434;
      color: #fff;
      margin-right: 20px; }
    .green__card-buttons a:nth-child(2) {
      background-color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #323232; }
      .green__card-buttons a:nth-child(2) img {
        margin-right: 5px; }

.card__image {
  width: 50%;
  position: relative;
  height: 100%; }
  .card__image img {
    position: absolute;
    top: 59px;
    right: 0px;
    border-radius: 20px;
    width: 802px; }

.services {
  padding-top: 521px;
  background-color: #F5F6FA;
  margin-top: -262px; }

.services__title {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
  color: #323232;
  text-align: center; }

.services__content {
  text-align: center;
  margin-bottom: 45px; }

.inner__services {
  display: flex;
  align-items: center;
  gap: 30px; }

.card__services {
  width: 50%;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-color: #f78434;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card__services:nth-child(2) {
    background-color: #ffffff; }

.icons__services {
  margin-bottom: 1px; }

.card__srvices-title {
  font-size: 42px;
  line-height: 63px;
  letter-spacing: 0.8px;
  color: #fff; }
  .card__srvices-title.orange {
    color: #f78434; }

.card__services-content {
  max-width: 364px;
  text-align: center;
  color: #fff;
  display: block;
  margin-bottom: 25px; }
  .card__services-content.black {
    color: #323232; }

.card__services-button {
  background-color: #fff;
  width: 172px;
  height: 58px;
  color: #f78434;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  font-weight: bold; }

.faq {
  margin-top: -182px;
  padding-top: 295px;
  padding-bottom: 111px;
  z-index: 1;
  background-color: #fff; }

.faq__title {
  font-size: 42px;
  line-height: 1.48;
  text-align: center;
  letter-spacing: 0.8px;
  color: #323232; }

.faq__inner {
  margin-top: 58px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px; }

.faq__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .faq__card:hover .faq__card-icon {
    background-color: #f78434; }
  .faq__card:hover .faq__card-icon path {
    fill: #ffffff; }

.faq__card-icon {
  background: rgba(88, 190, 191, 0.2);
  height: 70px;
  width: 70px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px; }
  .faq__card-icon path {
    fill: #58BEBF;
    transition: 0.3s ease; }

.blog {
  padding-top: 59px;
  padding-bottom: 58px; }

.blog__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 58px; }

.blog__title {
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
  color: #323232;
  max-width: 454px; }

.blog__subtitle {
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
  color: #606060;
  max-width: 398px; }

.inner__blog {
  display: flex;
  gap: 30px;
  position: relative; }

.blog__card {
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out; }
  .blog__card:hover {
    box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08); }
    .blog__card:hover .blog__card-icon {
      display: flex; }
    .blog__card:hover .blog__card-loaction {
      color: #f78434; }

.blog__card-top {
  width: 100%;
  position: relative; }

.blog__card-mainimage {
  width: 100%;
  height: 204px;
  object-fit: cover; }

.blog__card-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50px;
  display: none;
  align-items: center;
  justify-content: center; }
  .blog__card-icon img {
    height: 15px; }

.blog__card-bottom {
  padding: 30px; }

.blog__card-bottom-content {
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
  color: #323232;
  margin-bottom: 23px; }

.blog_card-name {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #323232;
  margin-bottom: 1px; }

.blog__card-loaction {
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
  color: #58BEBF;
  transition: 0.3s ease; }

.blog__logo-shape-icon {
  position: absolute;
  top: -40px;
  right: -40px; }

/*# sourceMappingURL=main.css.map */
