.navigation {
	& .nav__list {
		display: flex;
		align-items: center;
		gap: 42px;

		& a {
			font-size: 16px;
			line-height: 24px;
			color: $main-color;
			transition: 0.3s ease-in-out;
			&.active {
				font-weight: bold;
				color: $accent-color;
			}

			&:hover {
				color: $accent-color;
			}
		}
		@media screen and (max-width: 880px) {
			flex-direction: column;
			gap: 10px;
		}
	}

	@media screen and (max-width: 880px) {
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		box-shadow: 2px 20px 20px rgba(0, 0, 0, 0.1);
		transition: 0.4s ease;
		transform: translateY(-150%);
		opacity: 0;

		&.active {
			transform: translateY(0px);
			opacity: 1;
			z-index: 9999;
		}
	}
}

.menu-toggle {
	display: none;

	& i {
		font-size: 30px;
		color: $main-color;
	}

	& i.bx-x {
		display: none;
	}
	&.active i.bx-x {
		display: block;
	}

	&.active i.bx-menu {
		display: none;
	}

	@media screen and (max-width: 880px) {
		display: block;
	}
}
